body, html {
    background-color: lavender;
}

body {
    font-family: monospace;
    margin: 0 auto;
}

#site-header {
    background-color: skyblue;
    text-align: center;
    width: 75%;
}

#site-header img {
    height: 200px;
    
}

#review-form {
    text-align: center;
}



