body, html {
    background-color: lavender;
}

body {
    font-family: monospace;
}

#site-header {
    background-color: skyblue;
    text-align: center;
    width: 80%;
}

#site-header img {
    height: 200px;
    
}





#review-form {
    text-align: center;
    width: 80%;
}